# Ignorar configuración de PyCharm
*.iml

# Ignorar entornos virtuales
.venv/
venv/
.env

# Archivos temporales y compilados
__pycache__/
*.py[cod]
*.log
*.swp
*.swo
.DS_Storep

# Python
*.egg-info/
*.env
*.sqlite3

# Anaconda/Virtualenv
env_*/
env*/

# Archivos temporales
*.bak
*.tmp
.DS_Store

# IDE
.idea/
.vscode/

